extends ../layout

block logout
  +logoutButton("/Connexion/Logout")

block content
  +title("Hi there " + user.firstname + " welcome back!")
  +title("Here you can manage you own personal passwords for different services.")
  hr
  .box.mt-4
    form(action="" method="post")
      .columns.is-vcentered
        .column.is-2.flex
          img.service-icon(src="/assets/images/service/pinterest.png")
        .column.is-10
          .columns.is-vcentered
            .column.is-5
              .form-group
                .field
                  .fas.fa-user-alt
                  .control
                    input.input(name="username" type='text' value="josh")
            .column.is-5
              .form-group
                form-group
                  .field
                    .fas.fa-fingerprint
                    .control
                      input.input(data-password-box="netflix" name="password" type='password' value="piss")
            .column.is-2
              .columns.mt-4
                .column
                  a
                    .fas.fa-eye(data-password-reveal="netflix")
                .column
                  a
                    .fas.fa-pen-fancy.no-style(data-modify-modal-target="netflix")
                .column
                  a
                    .fas.fa-trash.error-red(data-delete-modal-target="netflix")

  .modal(data-modify-modal="netflix" data-modal)
    .modal-background
    .modal-card
      header.modal-card-head
        p.modal-card-title Change credentials
        button.delete(aria-label='close' data-close-modal)
      section.modal-card-body
        // Content ...
      footer.modal-card-foot
        button.button.hover-success(type="submit") Save changes
        button.button.error-red(data-close-modal) Cancel

  .modal(data-delete-modal="netflix" data-modal)
    .modal-background
    .modal-card
      header.modal-card-head
        p.modal-card-title Delete credentials
        button.delete(aria-label='close' data-close-modal)
      section.modal-card-body
        // Content ...
      footer.modal-card-foot
        button.button.error-red(type="submit") Delete
        button.button(data-close-modal) Cancel

  .modal(data-add-modal data-modal)
    .modal-background
    .modal-card
      header.modal-card-head
        p.modal-card-title Add new service
        button.delete(aria-label='close' data-close-modal)
      section.modal-card-body
        form
          .columns
            .column.is-8
              h1.title-medium.mt-2 Here are some of the services we support
            .column.is-4.flex
              .select.is-rounded
                select(name="services")
                  option(value="netflix") Netflix
                  option(value="pinterest") Pinterest
                  option(value="instagram") Instagram
          +usernamePasswordRow()
      footer.modal-card-foot
        button.button.hover-success(type="submit") Add
        button.button(data-close-modal) Cancel

  a
    div#addService
      .columns.mb-1
        .column.flex
          h1.subtitle Add service
      .columns
        .column.flex.size-medium
          .fas.fa-plus-circle.fa-lg.success-green

block scripts
  include ../components/scripts