doctype html
html
  head
    title Zapper - Login
    meta(charset="utf-8", name="viewport", content="width=device-width, initial-scale=1")
    link(href="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js")
    link(rel="icon", href="/assets/images/zapper-logo.png")
    link(rel="stylesheet", href="/stylesheets/style.css")