form.base-margin.base-padding.box(action="/", method="post")
	.control
		i.fa.fa-user.ml-1.mb-1
		input.input.is-hovered(type="text", name="username" placeholder="Ajani706")
	br
	.control
		i.fa.fa-fingerprint.ml-1.mb-1
		input.input(type="password", name="password" placeholder="*********")
	br
	input(type="checkbox", name="remember-me")
	label.checkbox.ml-2 Remember me
	br
	br
	a.is-block(href="/Connexion/Register") No account? Sign up here
	br
	.columns
		.column.flex-end
			button.form-button.button(type="submit") Login
