extends ../layout

block content
	hr
	h1.welcome.mt-6.has-text-centered Welcome to Zapper, your own personal password manager.
	include ../components/loginForm

block scripts
	include ../components/scripts