mixin flashBox()
  if (flashBox == "isError")
    .base-margin.base-padding.box.error-outline
      .columns.is-vcentered
        .column.flex-end
          .fas.fa-times.error-red
        .column.is-9
          +flash

  if (flashBox == "isSuccess")
    .base-margin.base-padding.box.success-outline
      .columns.is-vcentered
        .column.flex-end
          .fas.fa-check.success-green
        .column.is-9
          +flash
