mixin flashBox()
  if (flashBox == "isError")
    .base-margin.base-padding.box.error-outline
      .column.flex-end
        .fas.fa-times.error-red
      .column.is-8
        +flash

  if (flashBox == "isSuccess")
    .base-margin.base-padding.box.success-outline
      .columns
        .column.flex-end
          .fas.fa-check.success-green
        .column.is-8
          +flash
