extends ../layout

block logout
  +logoutButton("/Connexion/Logout")

block content
  .flex
    img.profile-picture(src=gravatar)
  br
  h1.title.mt-1.flex=user.username
  hr
  h1.subtitle.mb-1.flex="Hi there " + user.firstname + " " + user.lastname + "! Welcome to your personal account"
  h1.subtitle.flex Here you can change your credentials if ever the occurrence comes
  br
  +changerCredentialsSection(user)
  +securitySection()
  +deviceList()

block scripts
  include ../components/scripts