include mixins/form
include mixins/base
include components/head

body.reveal
	.columns.header-container
		.column.is-2
			a(href="/")
				img(src="/assets/images/zapper-logo.png")
		.column.main-content
			include ./components/header
		.column.is-2
	.columns
		.column.is-2
		.column
			hr
			+flash
			block content
		.column.is-2
			block logout
	block scripts
	block footer
